#lab5_result {
    display: none;
}

div#content_lab_5 {
    padding: 10px;
}

div#content_lab_5 h4 {
    margin-bottom: 0;
}

img.lab5_picture {
    max-width: 100%;
    border: thin;
    border-style: solid;
}

#lab5_configure_block fieldset {
    display: inline-block;
}

#lab5_configure_block fieldset input{
    max-width: 50px;
}

table.lab5_matrix {
    margin-bottom: 15px;
    border-spacing: 7px;
    border-style: double;
    border-width: thick;
    border-color: black;
    border-top: 0;
    border-bottom: 0;
}

table.lab5_matrix caption {
    text-align: left;
}

table.lab5_matrix td {
    font-weight: 500;
}

table.lab5_matrix_row {
    border-spacing: 7px;
    border-top: 0;
    border-bottom: 0;
}

table.lab5_matrix_row {
    font-weight: 500;
}